.Document_file_wrap {
  p {
    font-size: 8px;
    line-height: 1.3em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  svg {
    width: 100%;
    height: 20px;
  }
  width: 25%;
}

.Document_file_content {
  text-align: center;
  // border-bottom: 0.5px solid #1f2667;
}

.Document_file_icon {
  color: #1f2667;
}
