.class {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
}
.card {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .card-item{
        width: 100%;
    }
    
    .card-body {
        width: 80%;
        padding: 10px 20px;
        justify-content: space-between;
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .card-image{
        display: inline-block;
        margin-left: 10px;
        img{
            width: 1200px;
            height: 250px;
            border-radius: 10px;
        }
    }
    
}

